#one{
    margin-top: 20px;
    margin-left: 20% ;
    height: 1015px;
    width: 60%;
    border-style: solid;
    margin-bottom: 60px;
    font-family: sans-serif;
    margin-top: 40px;
}

 h3{
     margin-left: 10px;
}
            
h2{
     margin-left: 100px;
 }
            
hr{
     background-color: black;
    height: 2px;
 }

#two{
    background-color: gray;
}

#three{
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
    border-style: solid;
    background-color: gray;
    height: 250px;
    
}

#four{
    margin-top: 20px;
    margin-left: 20px;
}

#five{
    background-image: url(img/ii.jpeg);
}