
#one{
    background-image: url(img/cash-money-donation-support-to-charity-of-the-vector-16147914.jpg);
}  

#two{
    background-image: url(img/cash-money-donation-support-to-charity-of-the-vector-16147914.jpg);
}

#three{
    background-image: url(img/cash-money-donation-support-to-charity-of-the-vector-16147914.jpg);
}



{
    margin: 0;
    padding: 50;
    
}
h1{
    text-align: center;
    font-size: 70px;
    padding: 20px;
    color: darkblue;
}

h2{
    text-align: ;
    padding: 20px;
    font-size: 30px;
    color: white;
}

h3{
    text-align: ;
    padding: 20px;
    font-size: 30px;
    color: white;
}
.register{
    background: gray;
    width: 500px;
    float:right;
    margin: 0px 0px 0px 430px;
    color: black;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
}
#register{
    margin-left: 50px;
    
}
label{
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
        
        
}

#sub{
    width: 100px;
    color: white;
     background: blue;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#res{
    width: 100px;
    color: white;
     background: blue;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
    margin-left: 40px;
}

.nav-item{
   
    font-size: 25px;
}
