
   


#reg{
    background-image: url(img/new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

*{
    margin: 0;
    padding: 0;
    
}

#header{
     background-color: #80C4DE;
}

h1{
    text-align: center;
    font-size: 70px;
    padding: 20px;
    color: white;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: white;
}

.register{
    background-color:gray;
    width: 500px;
    float:right;
    margin: 0px 0px 0px 430px;
    color: black;
    font-size: 18px;
    padding: 20px;
    border-radius: 100px;
}
#register{
    margin-left: 50px;
    
}
label{
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
        
        
}
#ph{
    width: 65px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#num{
     width: 240px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#sub{
    width: 200px;
    color: white;
    background-color: #80C4DE;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#res{
    width: 200px;
    color: white;
     background-color: #80C4DE;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    outline: 0;
}

#email{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#pass{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#cmpass{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}

#dob{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
}